/* admin support tickets page specific css */

.status-history-block {
  border-bottom: 1px solid #ccc; 
  margin-left: 0;
}

.status-history-block-info {
  border-right: 1px solid #ccc; 
  margin-left: -1px !important; 
  padding-right: 10px;
}

.status-history-block-info p, .status-history-block-comment p {
  line-height: 18px;
}

.status-history-delete-box {
  position: relative;
}

.status-history-delete {
  position: absolute;
  bottom: 0;
  right: 0;
}

.field-drop:after {
  display: none;
}

.ticket-reply-selections {
  margin-left: -250px;
}

#ticket_customer_results {
  margin-top: -16px;
  margin-bottom: 16px;
}

/* custom media queries */
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 480px) and (max-width: 767px) {
}
  
@media screen and (max-width: 479px) {
}